cloud_id                  = "abcgygug"
folder_id                 = "vghfkhgfkhfh"
image_id                  = "djdirdtkidtdtydkiy"
subnet_id                 = "pokihuigylucftycdrftgx"
public_key_path           = "~/.ssh/appuser.pub"
service_account_key_file  = "key.json"
private_key_path          = "~/.ssh/appuser"
app_disk_image           = "example"
db_disk_image            = "example"
